<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogFile="c:\\logs\\console-example-internal.log"
      internalLogLevel="Info"
      throwExceptions="false">


    <targets async="true">
        <target xsi:type="File" name="logs_file" fileName="c:\\logs\\trello_test_logs.log"/>
        <!-- write logs to the console-->
        <target xsi:type="ColoredConsole" name="logconsole"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logs_file"/>
    </rules>
</nlog>